<!-- FILEPATH: /C:/Users/kamer/Documents/Udacity/Full Stack/Final Project/templates/parts/nav.html -->

<style>
    #main_nav {
        border-bottom: 1px solid #cccccc;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
        z-index: 1000;
        padding-right: 10px;
    }
</style>
<nav id="main_nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><i class="icon"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
    </div>
    <a href="#" class="btn btn-primary">Sign in</a>
</nav>
